<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Noun Project Public Domain Search</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='stylesheet.css') }}" />
</head>
<body>
    <header>
        <form class="search-form">
            <label for="input-search">Keywords</label>
            <input type="search" name="q" id="input-search" value="{{ query }}" placeholder="Search for anything" />

            <button type="submit">Search</button>
        </form>
    </header>
    <main>
    {% if icons %}
        <ul class="icons">
        {% for icon in icons %}
            <li class="icon">
                <a class="icon__link" href="https://thenounproject.com/{{ icon.permalink }}" target="_blank"  title="{{ icon.term }}">
                    <img class="icon__preview" src="{{ icon.preview_url }}" alt="{{ icon.term }}" />
                </a>
            </li>
        {% endfor %}
        </ul>
    {% elif query != "" %}
        <p class="no-results">No icons found for "{{ query }}"</p>
    {% endif %}
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
